<% if current_user.rooms.count == 1 %>
	<% ids = current_user.rooms.first.users.map(&:id) %>
	<% room_users = User.where(id: ids).order("created_at DESC") %>

	<% room_users.each do |user| %>

	<% end %>

<% else %>
	<p>You are member of more than one room at the moment. Please leave one of the rooms!</p>
<% end%>