<% provide(:button_text, 'Save changes') %>
<% provide(:title, "Update Room Details" %>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-centered">
		<div class="form-group">
			<h1>Edit Room Details</h1>
			<%= render "rooms/form" %>
		</div>
	</div>
</div>