/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$grayMediumLight: #eaeaea;
$grayLighter: #eaeaea;

.footer {
  height: 25px;
  margin-bottom: 0px;
}
/* Universal */ 

p.steps {
  font-size: 1em;

}

body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.alert-centered {
  text-align: center;
}

.alert {
  margin-top: 5px;
  margin-bottom: 5px;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.jumbotron {
  margin-top: 10px;
}

div.steps {
  text-align: left;
}

/* froms */


/* Room Stats */


section.room_stats {

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 0px 0px 10px; 
}

ul.room_history {
  padding: 5px;
  list-style-type: none;

  li {

    margin: 3px;
    padding: 3px;

    .name {
      font-weight: 900;
      /*font-size: 1.3em;*/
    }

    .description {
      margin-bottom: 0px;
      margin-top: 0px;
      padding: 0px;
      font-style: italic;
    }

    .date {
      color: #545556;
      font-size: 1em;
      letter-spacing: -1px;

    }

    .author {
      font-size: 0.9em;
    }

    .price {
      background: rgba(0,0,0,.05);
      display: inline-block;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;

      padding-top: 2px;
      padding-right: 5px;
      padding-bottom: 2px;
      padding-left: 5px;

    }
  }
}

ul.room_stats {
  list-style-type: none;
  margin: 0;
  padding: 0;

    li {
      display: inline-block;
      margin: 3px;
      padding: 3px;
    }

    p {
       margin: 0;
      padding: 0;
    }

     .name {
      font-weight: 900;
    }
}


.price-form {
}

.gravatar_edit {
  float: left;
  margin-bottom: 10px;
}

.edit_profile {
  clear: right;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.user_info {
  margin-top: 5px;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;

  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
}

.room_info {
  margin-top: 5px;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;

  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  p.description {

    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px

  }

  ul {
    list-style-type: none;
    padding: 5px;
  }
}

.room_stats {

  h1 {
  font-size: 2em;
  text-align: center;
  letter-spacing: 0px;
  }
}

.product_form {

 h1 {
    font-size: 2em;
    text-align: center;
    letter-spacing: 0px;
  }
}

ol.users, ul.products {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p.product_name {
  font-weight: 900;
  margin: 0;
  padding: 0
}

.product_price {
  background: rgba(0,0,0,.05);

  display: inline-block;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;


  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;

}

p.product_description {
  font-style: italic;
  margin: 0;
  padding: 0;
}

p.product_date_author {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

p.product_buttons {
  margin: 0;
  padding: 0;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}


.gravatar {
  float: left;
  margin-right: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}



/* Errors */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Remember me checkbox */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}