<footer class="footer col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered">
  <small>
    The Room Manager App by G.R. 
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact Admin", contact_path %></li>
    </ul>
  </nav>
</footer>


<!-- <div class="footer navbar navbar-default col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered">
  <div class="container">
    <p>RoomManager, A Sample Ruby on Rails Web App</p>
  </div>
</footer> -->